__pycache__/
*.pyc
/.idea/dataSources/32df9b39-e24e-4411-a3c3-58db38ab46f9.xml
/.idea/budget_bot_claude.iml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/32df9b39-e24e-4411-a3c3-58db38ab46f9/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
.env
